* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-align: center;
}

:root {
  --background-color: #235c87;
  --background-color-dashboard: #f8f9fa;
  --color-font-base: #ffffff;
  --color-font-reverse: #000000;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-start-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .type-visualization-report div,
  span {
    font-size: 0.7rem;
  }
  .legend-menu {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 850px) {
  .type-visualization-report div,
  span {
    font-size: 0.5rem;
  }
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.content {
  width: 100%;
  height: 110%;
  background-color: var(--background-color-dashboard);
}

.header {
  width: 95%;
  padding: 0 2.5% 0 2.5%;
  height: 4rem;
  background-color: white;
}

.report {
  width: 80%;
  margin: 0 10% 0 10%;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  background-color: white;
}

.report div,
span {
  padding: 1em;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 100%;
  background-color: var(--background-color-dashboard);
  border: 1px solid var(--background-color);
  border-radius: 8px;
  box-shadow: 2px 2px 5px grey;
}

.type-visualization-report {
  width: 80%;
  padding: 0 10% 0 10%;
  height: 5rem;
}

.type-visualization-report div {
  width: 60%;
}

.MuiButtonGroup-root {
  height: 2.5rem;
}

.MuiButton-outlined {
  border: 1px solid var(--background-color) !important;
}

.actionsGraphic {
  width: 90%;
}

.legend-menu {
  width: 20%;
  max-height: auto;
  border: 1px solid var(--background-color);
  background-color: var(--background-color-dashboard);
  border-radius: 8px;
}

.legend-menu h4 {
  padding: 0.8rem 0 0.8rem 0;
}

#creazione {
  color: green !important;
}
#modifica {
  color: red !important;
}
#eliminazione {
  color: orange !important;
}

#Tipo0 {
  color: rgb(220, 57, 18) !important;
}
#Tipo1 {
  color: rgb(255, 153, 0) !important;
}
#Tipo2 {
  color: rgb(16, 150, 24) !important;
}
#Tipo3 {
  color: rgb(153, 0, 153) !important;
}
#Tipo4 {
  color: rgb(51, 102, 204) !important;
}

input {
  padding: 0.6em 0.6em;
  margin-left: 0.5em;
  border-radius: 0.5em;
  background: lightgray;
}
.box {
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rect:hover {
  stroke-width: 0.5;
  stroke: gray;
}

.donut-chart-text-value {
  font-weight: 700;
  font-size: 90% !important;
}
.donut-chart-text-subtext {
  font-weight: 400;
  font-size: 40% !important;
}
